<!DOCTYPE html>
<html lang="en">
<head>

    <title>MMA Countdown</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="games, modding, mods, mod, mod support, modio, steamworks, workshop, service, api, sdk, tool, plugin, wrapper, platform, windows, linux, mac, addons, addons, development, engine, unity, unreal, community, hosting, cdn">
    <meta name="description"
          content="Ignite a world of creativity with mod.io, a cross platform mod API and SDK for game developers.">

<!--    <link rel="stylesheet" type="text/css" href="./style.css"  />-->
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png" />
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
        .has-background-dark-shade {
            background-color:#1D1D2B;
        }

        .vertical-align-text-div {
            position:relative;
<!--            background-color:red;-->
        }

        .vertical-align-text-p {
            margin: 0;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
        }

        .big-text {
            font-family:'Work Sans';
            font-weight:400;
        }

        .full-column {
            width:100%;
        }

    </style>

</head>
<body id="home">
<section class="hero is-medium is-bold has-background-dark-shade">



    <nav class="navbar" role="navigation" aria-label="main navigation">


        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item has-text-white-bis">
                    MMA
                </a>

                <a class="navbar-item has-text-white-bis">
                    UFC
                </a>

                <a class="navbar-item has-text-white-bis">
                    Bellator
                </a>

                <a class="navbar-item has-text-white-bis">
                    PFL
                </a>

                <a class="navbar-item has-text-white-bis">
                    Rizen FF
                </a>

                <a class="navbar-item has-text-white-bis">
                    ONE Championship
                </a>

            </div>
            <div class="navbar-end">
                <a class="navbar-item has-text-white-bis">
                    Time Zone
                </a>

            </div>
        </div>
    </nav>



    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-light big-text">
                A <span class = "has-text-primary">Website</span> that provides the exact <span class = "has-text-primary">time</span>,
                regardless of <span class = "has-text-primary">time zone</span>, of every <span class = "has-text-primary">MMA Event</span>
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2>
        </div>
    </div>


</section>

<section class="hero is-medium is-bold">

    <div class="hero-body">
        <div class="container">

            <div class="columns" style = "text-align:center">
                <div class="column big-text"><h1 class="title has-text-black-bis big-text">
                    UFC 241<br><span class="has-text-grey">CORMIER VS MIOCIC 2</span>
                </h1></div>
                <div class="column is-two-fifths vertical-align-text-div"><p class="title vertical-align-text-p big-text full-column">4D 02H 02M 47S</p></div>
                <div class="column vertical-align-text-div"><p class="title vertical-align-text-p big-text full-column">Sat. Aug 17, 10:00</p></div>
            </div>

            <div class="columns" style = "text-align:center">
                <div class="column">5</div>
                <div class="column">6</div>
                <div class="column">7</div>
            </div>

            <div class="columns" style = "text-align:center">
                <div class="column">9</div>
                <div class="column">10</div>
                <div class="column">11</div>
            </div>


            <h1 class="title has-text-primary big-text">
                A <span class = "has-text-primary">Website</span> that provides the exact <span class = "has-text-primary">time</span>,
                regardless of <span class = "has-text-primary">time zone</span>, of every <span class = "has-text-primary">MMA Event</span>
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2>
        </div>
    </div>




</section>

</body>
</html>